{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{user.name}}のマイページ{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
<link href="/assets/css/common.css" rel="stylesheet">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ユーザ情報</h3>
  </div>

  <div class="panel-body">
    <div class="container">
      <div class="box">
          <div class="row">

              <ul class="profile">

                {% if user.name == null %}                　
                {% else %}

                  <li class="postit-profile">名前：{{user.name}}</li>
                {% endif %}

                {% if user.email == null %}
                {% else %}
                　<li>email：{{user.email}}  </li>
                {% endif %}

                {% if user.profile  == null %}
                {% else %}
              　  <li>自己紹介：{{user.profile}}  </li>
                {% endif %}

                {% if user.twitter_id  == null %}
                {% else %}
                　　<li><i class="fa fa-twitter-square"></i>：<a href="https://twitter.com/{{user.twitter_id}}" target="_blank">{{user.twitter_id}}</a></li>
                {% endif %}

                {% if user.github_id == null %}
                {% else %}
              　   <li> <i class="fa fa-github"></i>：<a href="https://github.com/{{user.github_id}}" target="_blank">{{user.github_id}} </a></li>
                {% endif %}

                {% if user.qiita_id == null %}
                {% else %}
            　  　  <li>Qiita ID：{{user.qiita_id}}</li>
                {% endif %}

                {% if events %}

                  <li>参加イベント:
                    {% for event in events %}
                        <a href="/event/{{event.id}}">
                          {{event.title}}
                        </a>
                    {% endfor %}
                  </li>
                {% endif %}

                {% if categories %}
                    <li>興味のあるTag:
                      {% for category in categories %}
                        <span class='btn category'>{{category}}</span>
                      {% endfor %}
                    </li>
                {% endif %}

                {#
                  TODO

                  {% if is_mypage %}
                    <form action="#"	onsubmit="alert('テストのため送信しません');return false;" onreset="alert('フォームをリセットします')">
                            <button type="button" class="btn btn-info">ユーザー情報を編集する</button>
                    </form>
                  {% endif %}
                #}
              </ul>
            </div>
        </div>
      </div>
  </div>
<!-- <a href="/mypage/edit/">ユーザー情報の編集</a> -->

</div>


{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
