{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center ">
        <link href="/assets/css/mypage.css" rel="stylesheet">
        <div class="page-header text-center">
            <title>ふらっと開催！オンライン勉強会</title>
            <h1 class="main">ふらっと開催！オンライン勉強会</h1>
    </div>

    <div class="panel panel-default">
<div class="panel-heading">
  <h2 class="head-name">ユーザー情報</h2>
</div>
  <div class="panel-body">
    <div class="container">
      <div class="box">
          <div class="row">

              <ul class="user_info">

                {% if name == null %}                　
                {% else %}
                  <li>名前：{{name}}</li>
                {% endif %}

                {% if email == null %}
                {% else %}
                　<li>email：{{email}}  </li>
                {% endif %}

                {% if profile  == null %}
                {% else %}
              　  <li>自己紹介：{{profile}}  </li>
                {% endif %}

                {% if twitter_id  == null %}
                {% else %}
                　　<li><i class="fa fa-twitter-square"></i>：<a href="https://twitter.com/{{twitter_id}}" target="_blank">{{twitter_id}}</a></li>
                {% endif %}

                {% if github_id == null %}
                {% else %}
              　   <li> <i class="fa fa-github"></i>：<a href="https://github.com/{{github_id}}" target="_blank">{{github_id}} </a></li>
                {% endif %}

                {% if qiita_id  is defined %}
                {% else %}
            　  　  <li>Qiita ID：{{qiita_id}}</li>
                {% endif %}

              </ul>
            </div>
        </div>
      </div>
  </div>
</div>


{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
