{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>ふらっと開催！オンライン勉強会</h1>
    </div>
    <div class="container">
        <div class="box">
            <div class="row">
                <h2>エンジニア向けオンライン勉強会</h2>
            </div>
            <h3>開催中</h3>
            <ul>

              {% for event in events %}
                <li><a href="/event/{{event.id}}">「{{event.title}}」<br>
                  {{event.detail | slice(0, 39)}}…</a><br>
                   by {{event.host.name}}<br>
                 {{event.startDate}} より開始</li><br>
              {% endfor %}
            </ul>
            <a href="/event/new">新規作成</a>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}
{% endblock %}
