{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
  <link href="/assets/css/top/top.css" rel="stylesheet">
    <div class="page-header text-center">
        <h1>ふらっと開催！オンライン勉強会</h1>
    </div>
    <div class="container">
        <div class="box">
            <div class="row">
                <h3>エンジニア向けオンライン勉強会</h3>
                <p　class="">いえい</p>
            </div>
            <h2>開催中</h2>
            <ul class="btn-default">
              <!-- 開催中イベントの列挙 -->
              {% for event in events %}
                <li><a href="/event/{{event.id}}">「{{event.title}}」<br>
                  <!-- イベント詳細の文字数が40字以上の場合，以降を…で省略する -->
                  {{ event.detail|length > 40 ? event.detail|slice(0, 40) ~ '…' : event.detail }}
                  </a><br>
                   by {{event.host.name}}<br>
                 {{event.startDate}} より開始</li><br>
              {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}
{% endblock %}
