{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{event.title}}{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <link href="/assets/css/event/show.css" rel="stylesheet">
    <div class="page-header text-center user-show-header">
        <h1 class="head_test">{{event.title}}</h1>
        {% if event.user_id == currentUser.id %}
        <span>
            <a href="/event/{{event.id}}/edit/">編集</a>
        </span>
        {% endif %}
    </div>

    <div class="container user-show">

    <div class='col-sm-8'>
        <div class="postit">主催者</div><br>
        <div class='detail mt-2 mb-2'>
            <a href="/user/{{event.user_id}}/">{{owner.name}}</a>
        </div>

        <p class='categories'>
            <div class="postit">タグ</div><br>
            {% for category in event.categories | split(', ') %}
                <span class='btn category'>{{category}}</span>
            {% endfor %}
        </p>
        <br />

        <p class="postit">詳細</p>
        <div class='detail mt-2 mb-2'>
            {{event.detail}}
        </div>

        <p class="postit">チャット</p>
        <center><a href="/event/{{event.id}}" class="square_btn39">最新の状態に更新する</a></center><br>

        <div class="chat">
            {% for message in messages %}
                <!-- TODO currentuserなら <div class="kaiwa-text-right">-->
                <div class="kaiwa">
                    {% if currentUser.id == message.user_id %}
                        <div class="kaiwa-text-left">
                            <p class="kaiwa-text">
                                {{message.content | raw}}
                            </p>
                        </div>
                    {% else %}
                        <div class="kaiwa-text-right">
                            <p class="kaiwa-text">
                                {{message.content | raw}}
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class='panel-footer schedule-action text-center'>
            <form id="newChatContentForm" method="POST" action="/event/{{event.id}}/chat/">
                <input class="chat" name="content" type='text' placeholder='メッセージ内容'>
                <button type='submit'class='btn-submit'>メッセージを送る</button>
            </form>
        </div>
    </div>

        <div class='col-sm-3 right-container'>
            <div class="panel panel-default date">
                <div class="panel-heading">
                    開催期間
                </div>
            <div class="panel-body ">
            <p>開始時間<br />{{event.startDate}}</p>
            <p>終了予定時間<br />{{event.endDate}}</p>
        </div>

        <div class='panel-footer schedule-action text-center'>
            {% if isJoin == true %}
                <p class='btn-submit'>参加予定</p>
            {% else %}
                <p>
                    {% if  currentUser.id is null %}
                        <a href="/login/">ログインしてください。</a>
                    {% else %}
                        <form id="participateForm" method="POST" action="/event/{{event.id}}/participate/">
                            <!-- <input type="hidden"  name="participate" id="participate" value="1" checked> -->
                            <button type="submit"class='btn-submit'>参加する</button>
                        </form>
                    {% endif %}

                </p>
            {% endif %}
        </div>


        <div class="panel panel-default date">
            <div class="panel-heading">
                参加者
            </div>

            <div class="panel-body ">
                {% for user in users %}
                    {% if user.twitter_id is null %}
                        <a class='btn category' href="/user/{{user.id}}/">{{user.name}}</a>
                    {% else %}
                        <a class='btn category' href="https://twitter.com/{{user.twitter_id}}" target='_blank'>
                            <i class="fa fa-twitter-square"></i>{{user.twitter_id}}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    <div class="row col-sm-1"></div>
</div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
