{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{event.title}}{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <link href="/assets/css/event/show.css" rel="stylesheet">
    <div class="page-header text-center user-show-header">
        <h1>{{event.title}}</h1>
    </div>
    <div class="container user-show">
            <div class="row col-sm-1"></div>
            <div class="row col-sm-8">
                <p class='categories'>
                    tags :
                    {% for category in event.categories | split(', ') %}
                        <span class='btn category'>{{category}}</span>
                    {% endfor %}
                </p>

                <div class='detail mt-2 mb-2'>
                    {{event.detail}}
                </div>

                <h3 class='owner mb-3'>Owner: {{owner.name}}</h3>
                <p class='owner-sns'>
                    {% if owner.twitter_id is null %}
                    {% else %}
                        <a href="https://twitter.com/{{owner.twitter_id}}" target='_blank'>
                            <div class='twitter btn'>
                                <i class="fa fa-twitter-square"></i>{{owner.twitter_id}}
                            </div>
                        </a>
                    {% endif %}
                    {% if owner.github_id is null %}
                    {% else %}
                        <a href="https://github.com/{{owner.github_id}}" target='_blank'>
                            <div class='github btn'>
                                <i class="fa fa-github"></i> {{owner.github_id}}
                            </div>
                        </a>
                    {% endif %}
                    {# {{owner.qiita_id}} #}
                </p>

                <ul class="list-group">
                    <li class="list-group-item">よろしくお願いします！</li>
                    <li class="list-group-item">今日はまるまるします</li>
                    <li class="list-group-item">python始めました！</li>
                    <li class="list-group-item">Progateレベル100超えました！</li>
                </ul>
            </div>
            <div class='col-sm-3 right-container'>
            <div class="panel panel-default date">
                <div class="panel-heading">
                    時間だよ〜〜〜〜〜〜
                </div>

                <div class="panel-body ">
                    <p>{{event.startDate}}</p>
                    <p>{{event.endDate}}</p>
                </div>

                <div class='panel-footer schedule-action text-center'>
                    <p><button class='btn btn-primary'>参加する</button></p>
                    <p><button class='btn btn-warning'>欠席する</button></p>
                </div>
            </div>

            <div class="panel panel-default date">
                <div class="panel-heading">
                    参加者
                </div>

                <div class="panel-body ">
                    {% for user in users %}
                        {% if user.twitter_id is null %}
                            {# TODO user/{id} にとばしたい π#}
                            <span class='btn category'>{{user.name}}</span>
                        {% else %}
                            <a class='btn category' href="https://twitter.com/{{user.twitter_id}}" target='_blank'>
                                <i class="fa fa-twitter-square"></i>{{user.twitter_id}}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {#
                    // FIXME commentとか入れる？
                    <div class='panel-footer schedule-action text-center'>
                        <p><button class='btn btn-primary'>参加する</button></p>
                        <p><button class='btn btn-warning'>欠席する</button></p>
                    </div>
                #}
            </div>


            </div>
            <div class="row col-sm-1"></div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
